/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
     font-family: georgia;
 }

 #wide-nav {
   width: 100%;
   height: 52px;
   background-color: rgb(10, 10, 10);
   display: flex;
   justify-content: center;
 }

#navigation {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(10, 10, 10);
}

#welcome {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: georgia;
  grid-column: 10 / 12;
}

#log-out {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: georgia;
  grid-column: 12;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#sign-up {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 11;
  border-left: 1px solid white;
}

#log-in {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: georgia;
  grid-column: 12;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#home-page {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: georgia;
  grid-column: 1;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#go-back {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: georgia;
  grid-column: 1;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: center;
}

#main-stage {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

#all-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#content {
 width: 70%;
}

#category-bar {
  width: 25%;
}

.category-box {
  display:inline-block;
  width: 280px;
  height: 140px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: georgia;
}

.fill-box {
  width: 100%;
  height: 100%;
}

.flex-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meat-n-bones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden-button {
  margin: 10px;
  background-color: rgb(246, 246, 246);
}

.flex-it {
  display: flex;
  align-items: flex-end;
}

.cat-text-box {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
}

.about-me {
  width: 300px;
  height: 400px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-photo {
  width: 260px;
}

.about-text {
  width: 230px;
  font-size: 13px;
}

.t-b-10 {
  margin-bottom: 15px;
  margin-top: 10px;
}
