/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
     font-family: 'Maitree', serif;
 }

#navigation {
  width: 100%;
  height: 52px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(10, 10, 10);
}

#welcome {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 10 / 12;
}

#log-out {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 12;
  border-left: 1px solid white;
}

#sign-up {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 11;
  border-left: 1px solid white;
}

#log-in {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 12;
  border-left: 1px solid white;
}

#go-back {
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Maitree', serif;
  grid-column: 12;
  border-left: 1px solid white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-stage {
  width: 100%;
  display: flex;
  border: 2px solid red;
}

#content {
 width: 70%;
 border: 2px solid blue;
}

#category-bar {
  width: 30%;
  border: 2px solid green;
}

.category-box {
  display:inline-block;
  width: 80%;
  height: 160px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'Maitree', serif;
  border: 2px solid green;
}

.fill-box {
  width: 100%;
  height: 100%;
}

.flex-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
