


<div class="about-me">
  <span class="t-b-10 underline">About Me</span>
  <img class="about-photo t-b-10" src="http://www.via-victoria.com/wp-content/uploads/2017/03/porkbellybonbons_3.jpg" alt="picture">
  <p class="bolded">VICTORIA FOX-COLLIS</p>
  <span class="about-text t-b-10">Hi I'm Victoria, the average, goofy, popcorn obsessed, smartass (really though), life loving, fun loving, young woman behind this blog.</span>
</div>
  <h3 class="category-head">Categories</h3>
  <% if current_admin? %>
    <%= button_to "Create New Category", new_admin_category_path, method: :get, class: 'hidden-button' %>
  <% end %>
  <% @presenter.category_bar.each do |category| %>
  <a style="background-image: url('<%= category.image %>'); background-size: cover;" class="category-box flex-it" href="/categories/<%= category.id %>">
    <span class="cat-text-box">
      <%= category.name.upcase %>
    </span>
  </a>
  <% end %>
