<% if @category_bar %>
  <h3 class="category-head">Categories</h3>
  <% @category_bar.each do |category| %>
  <a class="category-box" href="/categories/<%= category.id %>"><div class="fill-box flex-center"><%= category.name %></div></a>
  <% end %>
<% end %>
